---
import Heading from '../components/Heading.astro';
import Text from '../components/Text.astro'; 
import logo from '../assets/images/logo.svg?url';
---
<div class="flex flex-col w-full">
  <div class="h-1 w-full bg-[var(--color-secondary-900)]"></div>
</div>

<section class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left p-8 md:p-16">
  <div>
    <Heading
      htmlheading="h2"
      size="small"
      font="underoverskrift"
      stylingclasses="!text-2xl md:!text-3xl mb-2"
    >
      Don’t hesitate to reach out
    </Heading>

    <Text>
      helenatroland@gmail.com
      <br />
      hetr0001@stud.ek.dk
    </Text>
  </div>

  <div>
    <Heading
      htmlheading="h2"
      size="small"
      font="underoverskrift"
      stylingclasses="!text-2xl md:!text-3xl mb-2"
    >
      My Social Channels
    </Heading>

    <Text>
      <a 
        href="https://www.linkedin.com/in/helena-troland-4557b6296" 
        target="_blank"
        class="font-bold text-black"
      >
        LinkedIn
      </a>
      <br />

      <a 
        href="https://www.instagram.com/helenatroland/" 
        target="_blank"
        class="font-bold text-black"
      >
        Instagram
      </a>
      <br />

      <a 
        href="https://www.facebook.com/helena.troland" 
        target="_blank"
        class="font-bold text-black"
      >
        Facebook
      </a>
    </Text>
  </div>

 <div class="flex flex-col items-center gap-2">
  <a>
    <img
      src={logo}
      alt="Logo"
      class="h-16 sm:h-20 md:h-24 w-auto"
    />
  </a>
  <Text>
    <a 
      href="https://www.ek.dk" 
      target="_blank"
      class="font-bold text-black text-center"
    >
      ek.dk
    </a>
  </Text>
</div>

</section>
