---
import logo from '../assets/images/logo.svg?url';
---
<div class="py-8 flex">
  <!-- Logo -->
  <a>
    <img 
      src={logo} 
      alt="Logo" 
      class="h-20 sm:h-24 md:h-28 lg:h-32 w-auto"
    />
  </a>
</div>
